html,
body {
  height: 100%;
  margin: 0 8px;
}

#bigDiv {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.Entry {
  background-color: rgb(219, 255, 254);
  position: relative;
}

button{
  border-radius: 5px;
  border: 2px solid rgb(73, 73, 73);
}

.purchasedButton {
  background-color: rgb(161, 255, 252);
}

.deleteButton {
  background-color: rgb(161, 255, 252);
}

#newEntryButton {
  background-color: rgb(161, 255, 252);
}